{% extends 'ndjUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} | Identification {% endblock title %}


{% block content %}
<h1>Identification</h1>
<p>Entres tes identifiants afin de te connecter pour jouer.</p>
{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

<div>
    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
</div>
<div>
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />
</div>
<div>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
</div>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}

<p><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></p>
<p><a href="{{ path('fos_user_registration_register') }}">Cr&eacute;er un compte</a></p>

{% endblock content %}