{% extends 'ndjDAdminBundle:Default:layout.html.twig' %}

{% block body -%}
    <h1>Chatmsg list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mtime</th>
                <th>Auteur</th>
                <th>Destinataire</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('chatmsg_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.mtime }}</td>
                <td>{{ entity.auteur }}</td>
                <td>{{ entity.destinataire }}</td>
                <td>{{ entity.message }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('chatmsg_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('chatmsg_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('chatmsg_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
