{% extends 'ndjDAdminBundle:Default:layout.html.twig' %}

{% block body -%}
    <h1>Chatmsg</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Mtime</th>
                <td>{{ entity.mtime }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ entity.auteur }}</td>
            </tr>
            <tr>
                <th>Destinataire</th>
                <td>{{ entity.destinataire }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('chatmsg') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('chatmsg_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('chatmsg_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
