{% extends 'ndjDAdminBundle:Default:layout.html.twig' %}

{% block body -%}
    <h1>Organisation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cat</th>
                <td>{{ entity.cat }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ entity.public }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Charte</th>
                <td>{{ entity.charte }}</td>
            </tr>
            <tr>
                <th>Blason</th>
                <td>{{ entity.blason }}</td>
            </tr>
            <tr>
                <th>Gestion</th>
                <td>{{ entity.gestion }}</td>
            </tr>
            <tr>
                <th>Nombrembmax</th>
                <td>{{ entity.nombreMbMax }}</td>
            </tr>
            <tr>
                <th>Prixin</th>
                <td>{{ entity.prixIn }}</td>
            </tr>
            <tr>
                <th>Prixcot</th>
                <td>{{ entity.prixCot }}</td>
            </tr>
            <tr>
                <th>Actionsdiff</th>
                <td>{{ entity.actionsDiff }}</td>
            </tr>
            <tr>
                <th>Datecrea</th>
                <td>{{ entity.dateCrea|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('organisation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('organisation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('organisation_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
